*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-color: #fff;
}
nav {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #839958;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}